[ssh_connection]
pipelining=True
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o ConnectionAttempts=100 -o UserKnownHostsFile=/dev/null
#control_path = ~/.ssh/ansible-%%r@%%h:%%p

[defaults]
host_key_checking = False
allow_world_readable_tmpfiles = True
log_path=/var/log/ansible.log
timeout = 30
#gather_facts = False
#inventory = ./inventory
#roles_path = ./roles
#library = ./library
#deprecation_warnings=False
